@import "tailwindcss";

@layer base {
	body {
		font-family: var(--font-pretendard);
	}

	button:not(:disabled) {
		@apply hover:cursor-pointer;
	}

	input[type="submit"]:not(:disabled) {
		@apply hover:cursor-pointer;
	}
}
